/*
Theme Name: KLS Theme
Theme URI: http://kolesnikoff.org/
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, strong, ol, ul, li, table, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #f1f1f1;
}

header, footer {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover, a:active {
  outline: 0;
}

a img {
  border: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 1010px;
}

body {
  padding-bottom: 40px;
  min-width: 1010px;
  background-image: url(../img/bg-wallpaper-1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #999;
}

#bg-houses {
  height: 117px;
  margin: 0 -40px 30px -40px;
  background: url(../img/img-anch.png) bottom, url(../img/img-homes.jpg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

header {
  height: 130px;
  max-width: 800px;
  min-width: 500px;
  margin: 30px auto 0 auto;
}

header #logo {
  float: left;
  box-sizing: border-box;
}

header #logo img {
  width: 250px;
}

header #youtube {
  float: left;
  margin: 10px 0 0 40px;
  box-sizing: border-box;
}

header #youtube a {
  display: block;
  width: 100%;
  padding-top: 60px;
  background: url(../img/icon-youtube.png) no-repeat top center;
  background-size: auto 50px;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  color: #333;
  text-align: center;
  box-sizing: border-box;
}

header #youtube a:hover {
  opacity: 0.8;
  text-decoration: none;
}

header #phone-call {
  float: left;
  margin: 10px 0 0 40px;
  text-align: center;
  box-sizing: border-box;
}

header #phone-call a {
  display: block;
  padding-top: 60px;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  color: #333;
  background-image: url(../img/icon-phone.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 50px;
}

header #phone-call a:hover {
  opacity: 0.7;
}

header #phone {
  float: right;
  box-sizing: border-box;
}

header #phone p {
  margin: 20px 0 0 0;
  padding: 10px 15px;
  background: #c30016;
  font: bold 15px Arial;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.menu-main-container { max-width: 800px; margin: 0 auto 50px auto; }

.menu-main-container ul { display: table; width: 100%; }
.menu-main-container li { display: table-cell; text-align: center; }

.menu-main-container li:first-child { text-align: left; }
.menu-main-container li:last-child { text-align: right; }

.menu-main-container a {
  padding: 2px 6px;
  font: bold 14px Arial;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  text-transform: uppercase;
  white-space: nowrap;
}

.menu-main-container a:hover { opacity: 0.7; outline: 3px solid #117ec3; }

.menu-main-container  a.current-menu-item { outline: 3px solid #117ec3; }

.wrapper {
  width: 70%;
  width: 833px;
  margin: 0 auto;
}
.wrapper .info {
  margin: 0 0 20px 0;
  padding: 20px 40px 40px 40px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.wrapper .content {
  min-height: 550px;
  margin: 0 0 0 0;
  padding: 20px 40px 40px 40px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.wrapper .content .wp-tag-cloud {
  margin: 0 0 35px 0;
}

.wrapper .content .wp-tag-cloud li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.wrapper .content .wp-tag-cloud a {
  font: bold italic 18px Arial;
  color: #007ec3;
}

.wrapper h1 {
  margin: 20px 0;
  font: bold 26px Arial;
  text-transform: uppercase;
}

.wrapper h2 {
  margin: 0 0 5px 0;
  font: bold italic 18px Arial;
  color: #007ec3;
}

.wrapper p {
  font: normal 15px/20px Arial;
  text-align: justify;
}

.wrapper a { color: #333; }
.wrapper a:hover { text-decoration: none; }

.wrapper .alt {
  float: right;
  margin: -42px 0 0 0;
  font: bold 19px Arial;
  color: #1b75bb;
}

.wrapper a.more-link {
  float: right;
  font-style: italic;
  font-weight: bold;
}

.wrapper blockquote {
  margin: 25px 0;
}

.wrapper blockquote p {
  font: normal 14px/30px Arial;
  text-transform: uppercase;
}

.wrapper blockquote p strong {
  font-size: 20px;
  font-weight: bold;
}

#art-nav {
  position: relative;
  display: table;
  width: 100%;
  margin: 20px 0 0 0;
}

#art-nav .column {
  display: table-cell;
  height: 488px;
  background: url(../img/img-column.png) center bottom no-repeat;
  text-align: center;
}

#art-nav .column a {
  display: block;
  height: 120px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  background-repeat: no-repeat;
  background-position: center 40px;
}

#art-nav .column .holder {
  position: absolute;
  height: 175px;
  width: 20%;
  padding-top: 35px;
  background: url(../img/img-triangle.png) center bottom no-repeat;
  box-sizing: border-box;
}

#art-nav .column .holder:hover {
  padding-top: 0px;
  background: url(../img/img-v.png) center 120px no-repeat;
}

#postment {
  height: 95px;
  margin: 0 auto;
  background-image: url(../img/img-postment.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc(50% + 92px) 0;
}

#postment p {
  padding: 9px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 55px;
  text-indent: 40px;
  color: #555;
  text-shadow: 2px 1px 2px #fff, 2px 2px 1px #fff, -1px -1px 1px #aaa, -1px -1px 1px #aaa;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 7px 0 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px -3px 6px #bbb;
}

footer #socials {
  float: left;
  margin: 0 0 0 40px;
  text-align: center;
  white-space: nowrap;
}

footer #socials a {
  display: inline-block;
  margin: 0 20px 0 0;
}

footer #socials a:hover {
  opacity: 0.7;
}

footer ul {
  float: left;
  display: inline-block;
  margin: 5px 0 0 80px;
  white-space: nowrap;
  text-align: center;
}

footer ul li {
  display: inline;
  font: normal 14px Arial;
  margin: 0 5%;
}

hr {
  background: url(../img/img-anch.png) no-repeat;
  border: none;
  height: 8px;
  margin: 35px 0 40px 0;
}

.fadeLayer {
  display: none;
  opacity:0.7;
  filter: alpha(opacity=20);
  background-color:#fff;
  width:100%;
  height:100%;
  z-index:10;
  top:0;
  left:0;
  position:fixed;
}

.rLayer {
  display: none;
  position: fixed;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  background-color: #107ec3;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  z-index: 20;
  box-shadow: inset 0px 0px 15px #888, 0px 0px 10px #888;
  box-sizing: border-box;
  text-align: center;
}

.rLayer span {
  position: absolute;
  top: 27px;
  right: 17px;
  color: #fff;
  font: normal 15px Arial;
  background-color: #107ec3;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0px 0px 3px #107ec3, 0px 0px 3px #107ec3, 0px 0px 3px #107ec3, 0px 0px 3px #107ec3;
  zoom: 150%;
}

.rLayer span:hover {
  opacity: 0.8;
}

.rLayer.actions {
  padding: 85px 0 0 0;
}

.rLayer.actions p {
  margin: 0 5%;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 23px;
}

.rLayer.actions p b {
  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 45px;
  text-transform: uppercase;
}

.rLayer.actions p strong {
  font-weight: normal;
  font-size: 45px;
  line-height: 70px;
}

.rLayer.cases {
  padding: 45px 0 0 0;
}

.rLayer.cases p b {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  font-family: Arial;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.rLayer.cases a {
  font-weight: normal;
  font-size: 14px;
  line-height: 70px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Arial;
  color: #fff;
}

.rLayer.cases ul {
  margin: 0 50px;
}

.rLayer.cases ul li a{
  text-align: left;
  font: normal 12px/20px Arial;
  color: #fff;
}

.wrapper .content .pagination{
  float: right;
}

.wrapper .content .pagination a,.wrapper .content .pagination span{
  font:  italic 18px Arial;
  color: #007ec3;
  padding-left: 10px;

}

.wrapper .content .pagination .current {
  font-weight: bold;
}

footer #login_panel {
  float: left;
  display: inline-block;
  margin: 5px 0 0 200px;
  white-space: nowrap;
  text-align: center;
}

footer #login_panel a {
  display: inline;
  font: normal 14px Arial;
  margin: 0 5%;
}

footer #login_panel a#login, footer #login_panel a#logout{
  vertical-align:5px;
}

.log_actions {
  margin:0 auto;
  width:400px;
  margin-top:200px;
  margin-bottom:200px;
}

.log_actions .content{
  min-height:initial;
}

form label, form input {
  font-size:11pt;
}



.log_actions #login
{
  background-color: #fff;
  z-index: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

}



.log_actions fieldset
{
  border: 0;
  padding: 0;
  margin: 0;
}

/*--------------------*/

.log_actions #inputs input
{
  background: #f1f1f1 url(../img/login-sprite.png) no-repeat;
  padding: 10px 15px 10px 30px;
  margin: 0 0 10px 0;
  width:100%;

  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.log_actions #id_username
{
  background-position: 5px -2px !important;
}

.log_actions #id_password
{
  background-position: 5px -52px !important;
}

.log_actions #inputs input:focus
{
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.log_actions #actions
{
  margin: 25px 0 0 0;
}

.log_actions #submit
{


  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  text-shadow: 0 1px 0 rgba(255,255,255,0.5);

  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;

  float: left;
  height: 30px;
  padding: 0;
  width: 120px;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: #8f5a0a;
}

.log_actions #submit:hover,#submit:focus
{
  background-color: #fff;

}

.log_actions #submit:active
{
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.log_actions #submit::-moz-focus-inner
{
  border: none;
}

.log_actions #actions a
{
  font-size:11pt;
  color: #3151A2;
  float: right;
  line-height: 35px;
  margin-left: 10px;
}

/*--------------------*/

.log_actions #back
{
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  color: #999;
}


.log_actions h2
{
  padding:15px 0 15px 0;
}

.log_actions p.error_messages
{
  font-size:11pt;
  margin:15px 0;
}

.log_actions #inputs input.emsil_field{
  background:#fff;
}

.log_actions #actions input.submit_reset_form{
  width:auto;
  padding:0 5px;
}