{% extends "base.html" %}
{% load static i18n %}

{% block content %}

    <div class="content">
        <div class="post-1 post type-post status-publish format-standard hentry category-3 tag-4 tag-5 tag-7" id="post-1">
            <h1>{% trans "404 - Not Found" %}</h1>
            <p>{% trans "Данной страницы не существует." %}
            <a href="{% url 'site_project:home' %}">{% trans "Вернуться на главную страницу" %}</a></p>
        </div>
    </div>

{% endblock %}