<!DOCTYPE html>
{% load static i18n sitetree mainwidgets %}
<html>
<head>
    <meta charset="UTF-8">

    {% block css %}
        <link href="{% static "common/css/style.css" %}" rel="stylesheet">
        <link href="{% static "common/css/fancybox.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "common/css/jquery.mCustomScrollbar.css" %}" />
    {% endblock %}

    {% block js %}
        <script src="{% static "common/js/jquery-2.1.4.min.js"%}" type="text/javascript"></script>
        <script src="{% static "common/js/fancybox-2.1.5.min.js" %}" type="text/javascript"></script>
        <script src="{% static "common/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
        <script src="{% static "site_project/js/main.js" %}"></script>
    {% endblock %}

    {% block extra_script %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_css %}
    {% endblock %}


</head>

<body class="page page-id-6 page-template page-template-page-practice page-template-page-practice-php">

<header>
    <div id="logo">
        <img alt="" src="{% static "common/img/img-logo-final.png"%}"  />
    </div>
    <div id="youtube">
        <a class="video fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1">Смотеть презентацию</a>
    </div>
    <div id="phone-call">
        <a href="">Заказать звонок</a>
    </div>
    <div id="phone">
        <p>+7 499 70 33 999</p>
    </div>
</header>

<div class="menu-main-container">
    {% block sitetree %}
        {% sitetree_menu from 'maintree' include 'trunk' %}
    {% endblock %}
</div>

<!--div class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-15"><a href="http://kolesnikoff.org/">Главная</a></li>
    <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-14"><a href="http://kolesnikoff.org/practice/">Практика</a></li>
    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="http://kolesnikoff.org/cooperation/">Условия сотрудничества</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://kolesnikoff.org/contacts/">Конакты</a></li>
</ul></div-->
{#<style>#}
{#    body { background-image: url({% static "common/img/img-logo-final.png"%}); }#}
{#</style>#}

<div class="wrapper" id="content-block">
    {% block content %}
    {% endblock %}
</div>


<div id="postment">
    <p>Наши услуги</p>
</div>

<footer>
    <div class="wrapper">
        <div id="socials">
            <a href=""><img alt="" src="{% static "common/img/icon-plus.png"%}" /></a>
            <a href=""><img alt="" src="{% static "common/img/icon-fb.png"%}" /></a>
            <a href=""><img alt="" src="{% static "common/img/icon-vk.png"%}" /></a>
        </div>
        {% block tag_cloud %}
           {% hash_tags  %}
        {% endblock %}

        <div id="login_panel">
            <a href=""><img alt="" src="{% static "common/img/login.png"%}" /></a>

            {% if user.is_authenticated %}
                <a href="{% url 'site_project:logout' %}" id="logout">{% trans "Выйти" %}</a>
            {% else %}
                <a href="{% url 'site_project:login' %}" id="login">{% trans "Войти" %}</a>
            {% endif %}


        </div>
    </div>
</footer>



{% block hidden_extra_content %}

{% endblock %}



</body>
</html>