<ul class='wp-tag-cloud'>
    {% for ht in hash_tag_list %}
        <li><a href="{% url 'site_project:tag_detail'  ht.slug %}" title='2 записи'  style='font-size: 11pt;' >#{{ht.title}}</a></li>
    {% empty %}

    {% endfor %}

</ul>