{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="log_actions">
        <div class="content">
                <p class="note text-center">{% trans "Были рады видеть вас на нашем сайте." %}</p>
        </div>
    </div>
{% endblock %}