{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block content %}

    <div class="log_actions">
        <div class="content">
            <h2>ФОРМА ВХОДА</h2>
            {% if form.errors %}
                <p class="error_messages">{% trans "Ваши логин и пароль не совпадают. Попробуйте еще раз." %}</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p class="error_messages">{% trans "Ваш аккаунт не имеет доступа к этой странице. Чтобы продолжить, используйте подходящий логин/пароль." %}</p>
                {% else %}
                    <p class="error_messages">{% trans "Пожалуйста, авторизуйтесь, чтобы увидеть страницу." %}</p>
                {% endif %}
            {% endif %}

{#            <form method="post" action="{% url 'site_project:login' %}">#}
{#                {% csrf_token %}#}
{#                <table>#}
{#                    <tr>#}
{#                        <td>{{ form.username.label_tag }}</td>#}
{#                        <td>{{ form.username }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>{{ form.password.label_tag }}</td>#}
{#                        <td>{{ form.password }}</td>#}
{#                    </tr>#}
{#                </table>#}
{##}
{#                <input type="submit" value="Войти" />#}
{#                <input type="hidden" name="next" value="{{ next }}" />#}
{#            </form>#}



            <form id="login" method="post" action="{% url 'site_project:login' %}">
                {% csrf_token %}
                <fieldset id="inputs">
                    {% render_field form.username placeholder='Имя пользователя' %}
                    {% render_field form.password placeholder='Пароль' %}
                </fieldset>
                <fieldset id="actions">
                    <input type="submit" id="submit" value="ВОЙТИ">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <a href="{% url 'site_project:password_reset' %}">Забыли пароль?</a>
                </fieldset>
            </form>


        </div>
    </div>
{% endblock %}