{% extends "base.html" %}
{% load static i18n  %}


{% block content %}
    <div class="log_actions">
        <div class="content">
            <div class="panel-body">
                <p>{% trans "Мы выслали письмо с инструкциями на указаный вами email адрес." %}</p>
                <p>{% trans "Вы получите его через несколько секунд." %}</p>
            </div>
        </div>
    </div>

{% endblock %}
