{% extends "base.html" %}
{% load i18n %}



{% block content %}
    <div class="log_actions">
        <div class="content">
            <p class="note text-center">{% trans "Пароль успешно изменён." %}</p>

        </div>
    </div>
{% endblock %}
