{% extends "base.html" %}
{% load static widget_tweaks i18n %}

{% block navbar %}
{% endblock %}

{% block bodyclass %}signin-page{% endblock %}

{% block content %}
    <div class="log_actions">
        <div class="content">

            <h2>{% trans "Восстановления пароля" %}</h2>


            <p class="error_messages">
                {% trans "Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль." %}
            </p>
            <form action="" method="POST">{% csrf_token %}
                <fieldset id="inputs">
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %} has-feedback">
                            <label class="control-label {% if not field.errors %}sr-only{% endif %}" for="{{ field.auto_id }}">
                                {{ field.errors.as_text }}
                            </label>
                            {% render_field field class="emsil_field" placeholder=field.label %}

                        </div>
                    {% endfor %}


                </fieldset>
                <fieldset id="actions">


                    <input id="submit" class="submit_reset_form" type="submit" value="{% trans "Восстановить мой пароль" %}" name="submit">
                </fieldset>
            </form>


        </div><!-- /row -->
    </div>
{% endblock %}
