{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block title %}{% trans "Новый пароль" %}{% endblock %}

{% block content %}
    <div class="log_actions">
        <div class="content">
            <div class="col-lg-12">
                <div class="well">
                    {% if validlink %}
                        <p class="lead">{% trans "Введите ваш новый пароль дважды. Мы убедимся что вы ввели его правильно." %}</p>
                        <form action="" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="large-3 columns {% if form.new_password1.errors %}error{% endif %}">
                                    <label class="right inline">{{ form.new_password1.label }}</label>
                                </div>
                                <div class="large-9 columns {% if form.new_password1.errors %}error{% endif %}">
                                    {% render_field form.new_password1 %}
                                    <small>{{ form.new_password1.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-3 columns {% if form.new_password2.errors %}error{% endif %}">
                                    <label class="right inline">{{ form.new_password2.label }}</label>
                                </div>
                                <div class="large-9 columns {% if form.new_password2.errors %}error{% endif %}">
                                    {% render_field form.new_password2 %}
                                    <small>{{ form.new_password1.errors.as_text }}</small>
                                </div>
                            </div>

                            <input class="button" type="submit" value="{% trans "Подтвердить" %}" name="submit">
                        </form>
                    {% else %}
                        <h3>{% trans "Не удалось восстановить пароль" %}</h3>
                        <p>{% trans "Ссылка для восстановления пароля устарела или уже использовалась. Попробуйте ещё раз." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
