{% extends "base.html" %}
{% load static i18n mainwidgets %}


{% block extra_script %}
    <script>
        (function($){
            $(window).load(function(){

                $("#mCustomScrollbar").mCustomScrollbar({
                    theme:"rounded-dots-dark",
                    scrollButtons:{enable:true,scrollType:"stepped"},
                    keyboard:{scrollType:"stepped"}

                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block content %}

    <div class="content">
        <div class="post-1 post type-post status-publish format-standard hentry category-3 tag-4 tag-5 tag-7" id="post-1">
            <h1>{{object.created|date:"d.m.Y"}} / {{object.title}}</h1>
            <ul class="wp-tag-cloud">
                {% for r_tag in object.related_tag.all %}
                    <li>
                        <a href="{% url 'site_project:tag_detail' r_tag.slug %}" style="font-size: 17pt;">#{{r_tag.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div id="mCustomScrollbar"  style="height:400px;">
                {{object.material|safe}}
            </div>
        </div>
    </div>



{% endblock %}
