<ul>
        {% for blog_material in object_list %}
            <li><a href="{% url 'site_project:blog_detail' blog_material.slug %}" >{{ forloop.counter }}. {{blog_material.title}}</a></li>
        {% empty %}
            Нет статей для публикации
        {% endfor %}
</ul>



