{% extends "base.html" %}
{% load static i18n mainwidgets %}


{% block content %}
    <div class="content">
        <h1>Мы готовы к сотрудничеству</h1>
        <a class="alt actions" href="">Акции</a>
        <h2>Стоимость наших услуг.</h2>
        <p><code></code></p><code>
        <blockquote><p>Постоянное юридическое сопровождение вашего бизнеса на абонентской основе&nbsp;—<br>
            от <strong>60</strong> <b>тысяч рублей</b>.</p></blockquote>
        <blockquote><p>Сопровождение нашими юристами одного проекта&nbsp;—<br>
            от <strong>80</strong> <b>тысяч рублей</b>.</p></blockquote>
        <blockquote><p>Экстренная обработка судебной документации&nbsp;—<br>
            от <strong>20</strong> <b>тысяч рублей</b>.</p></blockquote>
        <blockquote><p>Комплексная консультация&nbsp;—<br>
            от <strong>5</strong> <b>тысяч рублей</b>.</p></blockquote>
    </code><p><code></code></p>
        <p>Мы можем предложить вам юридические услуги по престижным специализациям, в которых мы признаемся одними из лучших среди российских юридических фирм: представительство в арбитражном суде по широкому кругу бизнес-вопросов, защита &nbsp;интеллектуальной собственности, банкротство, корпоративное право/слияния и поглощения, регистрация товарных знаков, налогообложение, недвижимость, исполнительное производство. Мы можем гарантировать, что любые юридические услуги, даже пока не титулованные, будут оказаны качественно, компетентно и конфиденциально — уровень нашего профессионального признания обязывает соответствовать высоким стандартам.</p>
    </div>
{% endblock %}


{% block hidden_extra_content %}
    <div class="fadeLayer"></div>
    <div class="rLayer actions">
        <span>x</span>
        <p><b>Теущие акции:</b></p>
        <p>ДО 1 СЕНТЯБРЯ ВТОРОЙ ПРОЕКТ НА СОПРОВОЖДЕНИЕ СО СКИДКОЙ</p>
        <p><strong>20%</strong></p>
    </div>
{% endblock %}
