{% extends "base.html" %}
{% load static i18n mainwidgets %}



{% block content %}
    <div class="content">

    <div style="float: left; margin: 0 40px 0 0;">
      <h1 style="font-size: 20px; color: #c30016;">Адрес</h1>
    </div>

    <div style="float: left; margin: 10px 40px 0 0;">
      <p style="font-size: 14px;"><b>Москва, Ружейный пер., 6, стр. 1, Бизнес лайтхаус<br> +7 (499) 70-33-999</b></p>
    </div>

    <div style="float: left; margin: 10px 0 0 0;">
      <p style="font-size: 14px;"><b>пн-пт 09:00-18:00; сб 10:00-17:00<br> LAW@MSCBUSINESS.RU</b></p>
    </div>

    <br style="clear: both;">

    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ChTtNgt7eMqSix9Wlzk6DMbWmCiAGKN7&amp;width=750&amp;height=450"></script>

  </div>
{% endblock %}
