{% extends "base.html" %}
{% load static i18n mainwidgets mathfilters %}

{% block extra_css %}
    <style>
        #art-nav .column .holder { width: {{ 100|intdiv:articles_list.count }}%; }
    </style>
{% endblock %}

{% block content %}

    <div class="wrapper">


        <div class="info">
            <h1>{{object.title}}</h1>
            {{object.material_excerpt|safe}}
            <p><a href="{% url 'site_project:main_page_detail' object.slug %}" class="more-link">(далее…)</a></p>
        </div>


        <div id="art-nav">
            {% for article in articles_list %}
                <div class="column">
                    <div class="holder">
                        <a href="{% url 'site_project:main_page_detail' article.slug %}" style="background-image: url({{  article.icon_image.url }});">{{article.title}}</a>
                    </div>
                </div>

            {% endfor %}




        </div>


    </div>



    {#                {% for r_tag in object.related_tag.all %}#}
    {#                    <div class="inline-block">#}
    {#                        <span>{{r_tag.title}}</span>#}
    {#                    </div>#}
    {#                {% endfor %}#}



{% endblock %}
