{% extends "base.html" %}
{% load static i18n mainwidgets mathfilters %}


{% block extra_script %}
    <script>
        (function($){
            $(window).load(function(){

                $("#mCustomScrollbar").mCustomScrollbar({
                    theme:"rounded-dots-dark",
                    scrollButtons:{enable:true,scrollType:"stepped"},
                    keyboard:{scrollType:"stepped"}

                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">

        <div class="content">

            <h1>{{object.title}}</h1>
            <ul class="wp-tag-cloud">
                {% for r_tag in object.related_tag.all %}
                    <li>
                        <a href="{% url 'site_project:tag_detail' r_tag.slug %}" style="font-size: 17pt;">#{{r_tag.title}}</a>
                    </li>
                {% endfor %}
            </ul>

            <div id="bg-houses"></div><div id="mCustomScrollbar"  style="height:250px;">{{object.material|safe}}</div>

        </div>



    </div>



    {#                {% for r_tag in object.related_tag.all %}#}
    {#                    <div class="inline-block">#}
    {#                        <span>{{r_tag.title}}</span>#}
    {#                    </div>#}
    {#                {% endfor %}#}



{% endblock %}
