{#{% if not loaded_with_ajax %}#}
    {% extends base_template_name %}
{#{% endif %}#}
{% load static i18n mainwidgets mathfilters %}



{% block content %}
    <div class="content">
        <h1>Кейсы по категории "{{ hash_tag }}"</h1>
        {% for blog_material in object_list %}
            <h2>{{blog_material.created|date:"d.m.Y"}} / {{blog_material.title}}</h2>
            {{blog_material.material_excerpt|safe}}
            <p> <a href="{% url 'site_project:blog_detail' blog_material.slug %}" class="more-link">(далее…)</a></p>
            <hr />
        {% empty %}
            Нет статей для публикации
        {% endfor %}


        <div class="pagination">
            <span class="step-links">
            {% if paginator.num_pages > 8 %}

                {#                {% if paginator.num_pages|sub:page_obj.number > 0 %}#}
                {#                    #}
                {#                    {% for page_number in some_range %}#}
                {#                        <a href="{% url 'site_project:blog_list' %}?page={{ page_number }}">{{ page_number }}</a>#}
                {#                    {% endfor %}#}
                {#                    <a href="{% url 'site_project:blog_list' %}?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>#}
                {#                {% endif %}#}

                {% if page_obj.has_previous %}
                    <a href="{% url 'site_project:tag_detail' hash_tag.slug %}?page={{ page_obj.previous_page_number }}" class="linked-pages"> <- Предыдушая </a>
                {% endif %}

                {% for page_number in paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        <span class="current">
                                Страница {{ page_obj.number }}
                        </span>
                    {% elif page_number == 1 or page_number == paginator.num_pages %}
                        <a href="{% url 'site_project:tag_detail' hash_tag.slug %}?page={{ page_number }}" class="linked-pages"> {{ page_number }} </a>
                    {% elif -3 < page_obj.number|sub:page_number  and  page_obj.number|sub:page_number < 3 %}
                        <a href="{% url 'site_project:tag_detail' hash_tag.slug %}?page={{ page_number }}" class="linked-pages"> {{ page_number }} </a>
                    {% elif -3 == page_obj.number|sub:page_number  or  page_obj.number|sub:page_number == 3 %}
                        <span class="others">
                                ...
                        </span>
                    {% else %}

                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="{% url 'site_project:tag_detail' hash_tag.slug %}?page={{ page_obj.next_page_number }}" class="linked-pages"> Следующая -></a>
                {% endif %}


            {% else %}

                {% for page_number in paginator.page_range %}
                    <a href="{% url 'site_project:tag_detail' hash_tag.slug %}?page={{ page_number }}" class="linked-pages">{{ page_number }}</a>
                {% endfor %}

            {% endif %}
            </span>
        </div>

    </div>


{% endblock %}


{% block hidden_extra_content %}
    <div class="fadeLayer"></div>
    <div class="rLayer cases" cases_ajax_data_load_url="{% url 'site_project:cases_ajax' %}">
        <span>x</span>
        <p><b>Другие кейсы:</b></p>
        <div id="other_cases">
            {#            <ul>#}
            {#                <li>Иск о взыскании средств</li>#}
            {#                <li>Иск о возмещении ущерба</li>#}
            {#                <li>Иск о взыскании задолженности по арендной плате</li>#}
            {#                <li>Иск о возмещении вреда</li>#}
            {#                <li>Иск о признании права собственности</li>#}
            {#            </ul>#}
        </div>
        <a href="">Еще 50+ кейсов</a>
    </div>
{% endblock %}
